#body {
    background: no-repeat url("images/bg_bggenerator_com.png");
    background-size: cover;
    margin: 0;
    font-size: 20px;
}

body {
    margin: 0;
    font-size: 20px;
}


#page-header {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

#page-header > nav > ul {
    list-style: none;
    padding: 0;
}

#page-header > nav > ul > li {
    margin: 0 15px 0 0;
    padding: 0;
    display: inline;
}
#page-header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

#page-header > nav > a {
    text-decoration: none;
    color: white;
}

main {
    text-align: center; 
}

#form {
    margin-top: 50px;
    width: 50%;
    margin: 0 auto;
}

#form p { 
    font-weight: bold;
    margin-bottom: 10px;  
}

#auth {
    margin: 0 auto;
}
    
.auth-group {
    width: 100%;
    margin: 0 auto 15px;
}

.form-group {
    text-align: left;
    width: 300px;
    margin: 0 auto 15px;
}

.form-container {
    background-color: greenyellow;
    border: black solid 3px;
   
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 400px;
    height: 300px;

    text-align: center;
}

#email, #fio, #msg {
    width: 100%;
}

#login, #password {
    width: 250px;
}

#signin-btn {
    width: 90px;
}

#page-footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}
#page-footer a {
    text-decoration: none;
    color: white;
}
